/* 
  HEADER 
*/
.sony-header{
  background-color: black;
  height: 40px;
}

/* Sony */
.sony-header img{
  width: 7rem;
}

/* Menu */
.menu{
  height: 50px;
  /* position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0; */
}

/* Menu-Left */
.menu-left .menu-options{
  margin-right: 30px;
}

.menu-options img{
  width: .7rem;
  margin-left: 8px;
  margin-top: 4px;
}

/* Menu-Right */
.menu-right .menu-options{
  margin-right: 22px;
}

.lens{
  width: 1.5rem;
  margin-left: 20px;
}

.accedi{
  background-color: #363636;
}

/* Hamburger */
.hamburger .fa-bars{
  border: 1px solid lightgray;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Jumbotron */

/* Jumbotron Main */
.jumbotron{
  height: 700px;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron-text{
  margin-bottom: 50px;
}

.jumbotron img{
  width: 20rem;
  margin-bottom: 20px;
}

.jumbotron h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.buy-now{
  width: 120px;
  margin-bottom: 20px;
  background-color: #CD3D0F;
}

/* Jumbotron Options */
.jumbotron-options img{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 20px;
}

/* .jumbotron-options img:hover{
  border: 1px solid black;
  margin-bottom: 100px;
} */


/* 
  /HEADER 
*/

/* 
  MAIN 
*/

/* PS-5 */
.ps5{
  margin-top: 50px;
  margin-bottom: 50px;
}

.ps5 h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.ps5 p{
  font-size: 1.2rem;
  color: #A5A5A5;
}

/* PS-5 Mini-Title */
.ps-5-mini-title h5{
  text-transform: uppercase;
  font-size: .8rem;
  color: #2D64E6;
}

/* PS-5 Information */
.ps-5-information{
  margin-top: 75px;
}

.more-info{
  background-color: #2D64E6;
}

.ps-5-information img{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* PS-5 Gadgets */
.ps-5-gadgets img{
  width: 8rem;
}

.first-gadget{
  border-bottom: 2px solid #2D64E6;
}

.ps-5-singol-gadget{
  opacity: 60%;
}

.ps-5-singol-gadget:hover{
  opacity: 100%;
}

/* 
  /MAIN 
*/