/* 
  HEADER 
*/
.sony-header{
  background-color: black;
  height: 40px;
}

/* Sony */
.sony-header img{
  width: 7rem;
}

/* Menu */
.menu{
  height: 50px;
  /* position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0; */
}

.menu-options:hover{
  color: #2D64E6;
  cursor: pointer;
}

/* Menu-Left */
.menu-left .menu-options{
  margin-right: 30px;
}

.menu-options i{
  font-size: .7rem;
  margin-left: 8px;
  margin-top: 7px;
}

/* Menu-Right */
.menu-right .menu-options{
  margin-right: 22px;
}

.lens{
  width: 1.5rem;
  margin-left: 12px;
}

.accedi{
  background-color: #363636;
  color: white;
  border-radius: 20px;
  padding: 8px 2px;
  cursor: pointer;
}

/* Hamburger */
.hamburger .fa-bars{
  border: 1px solid lightgray;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Jumbotron */

/* Jumbotron Main */
.jumbotron{
  height: 700px;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.jumbotron-text{
  margin-bottom: 50px;
}

.jumbotron img{
  width: 20rem;
  margin-bottom: 20px;
}

.jumbotron h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.buy-now{
  margin-bottom: 20px;
  background-color: #CD3D0F;
}

/* Jumbotron Options */
.jumbotron-options img{
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 20px;
  transition: 1s;
}

.jumbotron-options img:hover{
  margin-top: 20px;
}

.j-options-selector-fixed{
  border: 4px solid #2D64E6;
  padding: 4px;
}

.j-options-selector{
  border: 4px solid transparent;
  padding: 4px;
}

/* .j-options-selector:active{
  border: 4px solid #2D64E6;
  padding: 4px;
} */

/* 
  /HEADER 
*/

/* 
  MAIN 
*/

/* PS-5 */
.ps5{
  margin-top: 50px;
  margin-bottom: 50px;
}

.ps5 h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.ps5 p{
  font-size: 1.2rem;
  color: #A5A5A5;
}

/* PS-5 Mini-Title */
.ps-5-mini-title h5{
  text-transform: uppercase;
  font-size: .8rem;
  color: #2D64E6;
}

/* PS-5 Information */
.ps-5-information{
  margin-top: 30px;
}

.more-info{
  background-color: #2D64E6;
}

.ps-5-information img{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.ps-4-info-container{
  margin-bottom: 80px;
}

/* PS-5 Gadgets */
.ps-5-gadgets img{
  width: 8rem;
}

.first-gadget{
  border-bottom: 2px solid #2D64E6;
}

.ps-5-singol-gadget{
  opacity: 60%;
}

.ps-5-singol-gadget:hover{
  opacity: 100%;
}

/* New Games */

/* Game */
.game{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  color: white;
}

.game-text img{
  width: 15rem;
  margin-bottom: 20px;
}

.game-text h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.game-text p{
  margin-bottom: 30px;
}

/* New Releases */
.new-releases{
  margin-bottom: 60px;
  background-color: #1F1F1F;
  color: white;
}

/* New Releases Title */
.new-releases-title{
  padding-top: 20px;
}

/* New Releases Cards */
.new-releases-cards{
  padding-bottom: 50px;
}

.new-releases-cards img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

.new-releases-cards img:hover{
  cursor: pointer;
  opacity: 75%;
}

.new-releases-cards span{
  font-size: .9rem;
}

/* PS-4 */

/* PS-4 Mini-Tile */
.ps4 h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.ps4 p{
  font-size: 1.2rem;
  color: #A5A5A5;
}

/* PS-4 Information */
.ps4-information{
  margin-bottom: 50px;
}

.ps4-information img{
  height: 55%;
  width: 100%;
}

/* PS-4 Plus */
.ps4-plus{
  background-color: #BEBCBB;
}

.ps-plus-logo{
  margin-top: 30px;
  margin-bottom: 30px;
}

.ps-plus-logo img{
  width: 20rem;
}

.ps-plus-logo p{
  font-size: .9rem;
  color: #272727;
  margin-top: 20px;
  margin-bottom: 30px;
}

.ps-plus-button{
  background-color: #D9DADC;
  color: #2D64E6;
  border: 2px solid transparent;
}

.ps-plus-button:hover{
  border: 2px solid rgba(128, 128, 128, .2);
}

.ps-plus-img img{
  height: 100%;
  width: 100%;
}

/* Playstore */
.playstore-title{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* PLaystore Mini-Title */
.playstore h2{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.playstore p{
  font-size: 1.2rem;
  color: #A5A5A5;
}

/* Playstore Options */
.playstore-options img{
  height: 100%;
  width: 100%;
}

.playstore-options img:hover{
  cursor: pointer;
  opacity: 75%;
}

.playstore-options-img{
  margin-bottom: 50px;
}

/* Playstore Now */
.playstore-now{
  background-color: #161C3B;
}

.ps-now-logo{
  margin-top: 30px;
  margin-bottom: 30px;
}

.ps-now-logo img{
  width: 20rem;
}

.ps-now-logo p{
  font-size: .9rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
}

.ps-now-button{
  background-color: white;
  color: black;
}

/* Social */
.social-title{
  margin-top: 50px;
  margin-bottom: 50px;
}

.social img{
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.social img:hover{
  cursor: pointer;
  opacity: 75%;
}

/* 
  /MAIN 
*/

/* 
  FOOTER 
*/
footer{
  background-color: #00439C;
  color: white;
}

/* Final Informations */

/* Logo PS */
.logo-f-ps{
  margin-top: 70px;
}

.logo-f-ps img{
  width: 6rem;
  margin-bottom: 30px;
}

.logo-f-ps i{
  font-size: 1.1rem;
}

.logo-f-ps span{
  font-size: .9rem;
  
}

/* Links */
.link-f-ps{
  margin-top: 70px;
}

.link-f-ps li{
  margin-bottom: 10px;
}

/* Copyright */
.logo-f-sie{
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-f-sie img{
  width: 9rem;
  margin-bottom: 10px;
}

.logo-f-sie p{
  font-size: .9rem;
}

.f-more-info{
  text-decoration: underline;
}

.f-more-info:hover{
  color: red;
}

/* 
  /FOOTER 
*/